<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.saraConnectionString"
            connectionString="Data Source=ACER-PC\SQLEXPRESS;Initial Catalog=sara;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.tp25ConnectionString"
            connectionString="Data Source=ACER-PC\SQLEXPRESS;Initial Catalog=tp25;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>